body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    transition: left 0.3s ease;
    left: 0;
}

#navbar header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nav-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

.main-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

#main-doc {
    margin-left: 0;
    padding: 20px;
}

.section-header {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  #main-doc {
    position: relative;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}